*{
    box-sizing: border-box;
}

.circle-border{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 580px;
    height: 580px;
    border: 6px solid #000;
    border-radius: 50%;
    background: conic-gradient(
        #fffb00 0deg 31deg, #ffc400 31deg 59.5deg, #f14805 59.5deg 90deg,
    #f10404 90deg 121.5deg, #c00779 120deg 155deg, #4a0a86 150deg 192deg,
    #070253 180deg 230deg, #057e6a 230deg 268deg, #059205 268deg 301deg,
     #05f519 300deg 331deg, #5eff01 331deg 380deg )
   

}


        /* PRIMEIRA CAMADA ↑ ↑ ↑  */
    


.circle-border2{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 475px;
    height: 475px;
    border-radius: 50%;

    background: conic-gradient(
        #f5f254 0deg 31deg, #eec230 31deg 59.5deg, #f36d37 59.5deg 90deg,
    #f53737 90deg 121.5deg, #f845b4 120deg 155deg, #8c30e2 150deg 192deg,
    #4135e0 180deg 230deg, #2eb19b 230deg 268deg, #37be37 268deg 301deg,
     #48d153 300deg 331deg, #8bec53 331deg 360deg )
}
   


.circle-border3{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0 ;
    margin: auto;
    width: 375px;
    height: 375px;
    
    border-radius: 50%;
    background: conic-gradient(
        #ebec9d 0deg 31deg, #f1d67d 31deg 59.5deg, #eea182 59.5deg 90deg,
    #ee9696 90deg 121.5deg, #df6eb4 120deg 155deg, #bb89e9 150deg 192deg,
    #7b75d6 180deg 230deg, #80c9bd 230deg 268deg, #9edf9e 268deg 301deg,
     #beebc2 300deg 331deg, #daf3cc 331deg 360deg )
}

.circle-border4{
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0 ;
        margin: auto;
        width: 275px;
        height: 275px;
        
        border-radius: 50%;
        background: conic-gradient(white 0deg 0deg);
}

.circle-border-transparent{
    position: absolute;
    right: 5px;
    left: 5px;
    top: 18%;
    bottom: 100px;
    margin: auto;
    background: linear-gradient(#050101 85%);
    width: 107px;
    height: 107px;
    border: 3px solid black;
    
    border-radius: 50%;
}   

.circle-border-small {
    position: absolute;
    top: 46.2%;
    left: 46.2%;
    border-radius: 60%;
    width: 45px;
    height: 45px;
    background-color: #000;
    margin: auto;
    box-shadow: 0 0 13px ;
}




.line-emocional-left::before, .line-espiritual-right::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 288px;
    background-color: #000;
    top: 0;
    left: 50%;
    transform-origin: bottom

}
.line-emocional-left::before{
    transform: rotate(-29deg);
    width: 3px;
    
    
}

.line-espiritual-right::after{
    transform: rotate(0.1deg);
    width: 3px;
    
}
.line-intelectual, .line-financeiro, .line-profissional, .line-servir{
    content: '';
    position: absolute;
    width: 2px;
    height: 290px;
    background-color: #000;
    top: 0;
    left: 50%;
    transform-origin: bottom
} 
.line-parentes, .line-conjugal, .line-filhos, .line-social, .line-saude{
    content: '';
    position: absolute;
    width: 2px;
    height: 287px;
    background-color: #000;
    top: 0;
    left: 50%;
    transform-origin: bottom
}
    .line-profissional{
     transform: rotate(-59.2deg);
     width: 3px;
     top: -0.5%; 
}
        .line-financeiro{
            transform: rotate(-91.5deg);
            width: 3px;
            top: -0.5%;
            
}
            .line-intelectual{
                transform: rotate(-129.5deg);
                width: 3px;
                height: 286px;
                left: 50%;
                
}
                .line-servir{
                    transform: rotate(-168deg);
                    width: 3px;
                    height: 287px;
                    left: 49.9%
}
/*linhas esquerdas ↑ */

/*linhas direitas ↓ */
    .line-parentes{
     transform: rotate(30.5deg);
     width: 3px;
     
}
        .line-conjugal{
            transform: rotate(59.2deg);
            width: 3px;
}
            .line-filhos{
                transform: rotate(89.5deg);
                width: 3px;
}
                .line-social{
                    transform: rotate(121.2deg);
                    width: 3px;
}
                    .line-saude{    
                        transform: rotate(155.2deg);
                        width: 3px;
}




     /* GAMBIARRA DOS NUMEROS⬇️  */


 .number-espiritual{
position: absolute;
letter-spacing: 7px;
font-size: 14px;
right: 45.7%;
bottom: 65.5%;
transform: rotate(-90deg)
}
.number-espiritual-2{
 position: absolute;
 letter-spacing: 7px;
 font-size: 15px;
 right: 47.8%;
 bottom: 76.2%;
 transform: rotate(-90deg)
 }
.number-espiritual-3{
position: absolute;
letter-spacing: 5px;
font-size: 18px;
right: 48.3%;
top: 8%;
transform: rotate(-90deg)

 }
.number-espiritual-4{
position: absolute;
letter-spacing: 0px;
font-size: 19px;
right: 48.8%;
top: -0.8%;
transform: rotate(-90deg)
}


                       /*  GABIARRA NUMEROS PARENTES ↓↓↓  */


.number-parentes{
position: absolute;
letter-spacing: 7px;
 font-size: 14px;
right: 36.2%;
top: 30.5%;
transform: rotate(-60deg)

}

.number-parentes2{
                
position: absolute;
letter-spacing: 7px;
 font-size: 15px;
right: 32.7%;
top: 20.5%;
transform: rotate(-60deg)

}

.number-parentes3{
position: absolute;
letter-spacing: 5px;
font-size: 18px;
right: 28.8%;
top: 12.5%;
transform: rotate(-60deg)
}
.number-parentes4{
position: absolute;
letter-spacing: 0px;
font-size: 19px;
right: 25%;
top: 4.9%;
transform: rotate(-60deg)

               /*  GAMBIARRA NUMERO CONJUGAL ↓↓*/   
}

.number-conjugal{
position: absolute;
letter-spacing: 7px;
font-size: 14px;
right: 29.2%;
top: 36.5%;
transform: rotate(-30deg)
}
.number-conjugal2{
position: absolute;
letter-spacing: 7px;
 font-size: 15px;
right: 22%;
top: 30.5%;
transform: rotate(-30deg)
}
.number-conjugal3{
position: absolute;
letter-spacing: 5px;
font-size: 18px;
right: 14.5%;
top: 25.3%;
transform: rotate(-30deg)
}
.number-conjugal4{
position: absolute;
letter-spacing: 0px;
font-size: 19px;
right: 7.8%;
top: 21%;
transform: rotate(-30deg)
}


                /* GAMBIARRA NUMERO FILHOS ↓↓*/ 
.number-filhos{
position: absolute;
letter-spacing: 7px;
font-size: 14px;
right: 26%;
bottom: 48%;
transform: rotate(-1.5deg)

}
.number-filhos2{
position: absolute;
letter-spacing: 7px;
 font-size: 15px;
right: 17%;
bottom: 48.1%;
transform: rotate(-1.5deg)
}
.number-filhos3{
position: absolute;
letter-spacing: 5px;
font-size: 18px;
right: 8.7%;
bottom: 47.8%;
transform: rotate(-1.5deg)
}
.number-filhos4{
position: absolute;
letter-spacing: 0px;
font-size: 19px;
right: 0.6%;
bottom: 47.8%;
transform: rotate(-1.5deg)
}

                /* GAMBIARRA NUMERO SOCIAL ↓↓*/ 

.number-social{
position: absolute;
letter-spacing: 7px;
font-size: 14px;
right: 27.8%;
bottom: 38.5%;
transform: rotate(30deg)

}
.number-social2{
position: absolute;
letter-spacing: 7px;
 font-size: 15px;
right: 20.3%;
bottom: 32.6%;
transform: rotate(29deg)

}
                
.number-social3{
position: absolute;
letter-spacing: 5px;
font-size: 18px;
right: 13.2%;
bottom: 27.6%;
transform: rotate(29deg)

}
.number-social4{
position: absolute;
letter-spacing: 0px;
font-size: 19px;
right: 6.3%;
bottom: 23%;
transform: rotate(29deg)

}

                /* GAMBIARRA NUMERO SAÚDE ↓↓↓*/

.number-saude{
position: absolute;
letter-spacing: 7px;
font-size: 14px;
right: 35.3%;
bottom: 30.6%;
transform: rotate(65deg)
}
.number-saude2{
position: absolute;
letter-spacing: 7px;
 font-size: 15px;
right: 32.5%;
bottom: 20.3%;
transform: rotate(65deg)
}
.number-saude3{
position: absolute;
letter-spacing: 5px;
font-size: 18px;
right: 29%;
bottom: 12%;
transform: rotate(65deg)
}
.number-saude4{
position: absolute;
letter-spacing: 0px;
font-size: 19px;
right: 25.8%;
bottom: 4.3%;
transform: rotate(65deg)
}

                /* GAMBIARRA NUMERO SERVIR ↓↓↓ */
                        
.number-servir{    
position: absolute;
letter-spacing: 7px;
font-size: 14px;
right: 46.5%;
bottom: 28%;
transform: rotate(102deg)
}
.number-servir2{    
position: absolute;
letter-spacing: 7px;
 font-size: 15px;
right: 50.8%;
bottom: 17.5%;
transform: rotate(101deg)
}
.number-servir3{    
position: absolute;
letter-spacing: 5px;
font-size: 18px;
right: 52.5%;
bottom: 8.2%;
transform: rotate(102deg)
}
.number-servir4{    
position: absolute;
letter-spacing: 0px;
font-size: 19px;
right: 54.8%;
bottom: -0%;
transform: rotate(102deg)
}


                /* GAMBIARRA NUMERO INTELECTUAL ↓↓↓*/

.number-intelectual{
position: absolute;
letter-spacing: 7px;
font-size: 14px;
right: 56.6%;
bottom: 33.9%;
transform: rotate(-40deg)
                                    
}
.number-intelectual2{
position: absolute;
letter-spacing: 7px;
 font-size: 15px;
right: 67.1%;
bottom: 26.4%;
transform: rotate(-41deg)
                            
}
.number-intelectual3{
position: absolute;
letter-spacing: 5px;
font-size: 18px;
left: 20%;
bottom: 20%;
transform: rotate(-41deg)
    
}
.number-intelectual4{
position: absolute;
letter-spacing: 0px;
font-size: 19px;
left: 13%;
bottom: 13.8%;
transform: rotate(-41deg)
}

                /* GAMBIARRA NUMERO FINANCEIRO ↓↓↓*/

.number-financeiro{
position: absolute;
letter-spacing: 7px;
font-size: 14px;
left: 27.2%;
bottom: 43.9%;
transform: rotate(-2deg)
        

}
.number-financeiro2{
position: absolute;
letter-spacing: 7px;
 font-size: 15px;
left: 18.2%;
bottom: 43.2%;
transform: rotate(-2deg)
        

}
.number-financeiro3{
position: absolute;
letter-spacing: 5px;
font-size: 18px;
left: 9.5%;
bottom: 42.3%;
transform: rotate(-2deg)
        

}           
.number-financeiro4{
position: absolute;
letter-spacing: 0px;
font-size: 20px;
left: 0.1%;
bottom: 41.5%;
transform: rotate(-2deg)
        
                /* GAMBIARRA NUMERO PROFISSIONAL ↓↓↓*/

}
.number-profissional{
position: absolute;
letter-spacing: 7px;
font-size: 14px;
left: 28.3%;
top: 40%;
transform: rotate(31deg)
            
}
.number-profissional2{
position: absolute;
letter-spacing: 7px;
 font-size: 15px;
left: 21%;
top: 34.2%;
transform: rotate(29deg)
            
}
.number-profissional3{
position: absolute;
letter-spacing: 5px;
font-size: 18px;
left: 13.2%;
top: 29.5%;
transform: rotate(29deg)
            
}
.number-profissional4{
position: absolute;
letter-spacing: 0px;
font-size: 20px;
left: 5.7%;
top: 24.2%;
transform: rotate(29deg)
            
}

                /*GAMBIARRA NUMERO EMOCIONAL ↓↓↓ */

.number-emocional{
position: absolute;
letter-spacing: 7px;
font-size: 14px;
left: 34.2%;
top: 32.8%;
transform: rotate(62deg)

}
.number-emocional2{
position: absolute;
letter-spacing: 7px;
 font-size: 15px;
left: 30.8%;
top: 23%;
transform: rotate(60deg)
    

}
.number-emocional3{
position: absolute;
letter-spacing: 5px;
font-size: 18px;
left: 26.5%;
top: 14.8%;
transform: rotate(60deg)
    

}
.number-emocional4{
position: absolute;
letter-spacing: 1px;
font-size: 19px;
left: 22%;
top: 6.5%;
transform: rotate(60deg)
    

            }
.espiritual{
position: absolute;
    font-size: 60%;
    right: 38%;
    bottom: 103%;
}
    .parentes{
        position: absolute;
        font-size: 60%;
        right: 5%;
        bottom: 96%
}
        .conjugal{
            position: absolute;
            font-size: 60%;
            right: -18%;
            bottom: 74%;
}
                .filhos{
                    position: absolute;
                    font-size: 60%;
                    right: -17%;
                    bottom: 46%;
}
                        .social{
                            position: absolute;
                            font-size: 60%;
                            right: -8%;
                            bottom: 17%;
}
                                .saude{
                                    position: absolute;
                                    font-size: 60%;
                                    right: 22%;
                                    bottom: -6%
}
                                        .servir{
                                            position: absolute;
                                              font-size: 60%;
                                                 left: 33%;
                                                    bottom: -10%
}
                                .intelectual{
                                    position: absolute;
                                      font-size: 60%;
                                         left: -15%;
                                            bottom: 10%;
}
                   .financeiro{
                      position: absolute;
                        font-size: 60%;
                          left: -25%;
                            bottom: 44%;
}
        .profissional{
           position: absolute;
              font-size: 60%;
                left : -22% ;
                  top: 17%;

}
.emocional{
   position: absolute;
     font-size: 60%;
       left: 4%;
         top: -4% ;
}

    .point-espiritual{
        position: absolute;
        font-size: 20px;  /* Aumenta o tamanho dos pontos */
        letter-spacing: 15px; /* Reduz o espaçamento entre os pontos */
        width: 250px; /* Define a largura da linha */
        top: 13.8%;
        right: 25.9%;
        transform: rotate(90deg)
    }
        .point-parentes{
            position: absolute;
            font-size: 20px;
            letter-spacing: 15px;
            right: 13.9%;
            top: 14.5%;
            transform: rotate(-59.5deg)
        }
            .point-conjugal{

                position: absolute;
                font-size: 20px;
                letter-spacing: 15px;
                right: 2.8%;
                bottom: 57.7%;
                transform: rotate(-30.5deg); 
            }

                .point-filhos{
                    position: absolute;
                    font-size: 20px;
                    letter-spacing: 15px;
                    right: -2.1%;
                    bottom: 42.7%;
                    transform: rotate(-0.6deg);
                }

                    .point-social{
                        position: absolute;
                        font-size: 19.9px;
                        letter-spacing: 15px;
                        right: 1.3%;
                        bottom: 26.8%;
                        transform: rotate(31.2deg); 
                    }

                        .point-saude{
                            position: absolute;
                            font-size: 20px;
                            letter-spacing: 15px;
                            right: 13.6%;
                            bottom: 14.3%;
                            transform: rotate(65.3deg);
                        }

                            .point-servir{
                                position: absolute;
                                font-size: 20.1px;
                                letter-spacing: 15px;
                                right: 35.4%;
                                bottom: 14.1%;
                                transform: rotate(-78deg);

                            }

                                .point-intelectual{
                                    position: absolute;
                                    font-size: 19.8px;
                                    letter-spacing: 15px;
                                    left: 5.8%;
                                    bottom: 24.7%;
                                    transform: rotate(-39.5deg);

                                  }

                                    .point-financeiro{
                                        position: absolute;
                                        font-size: 20px;
                                        letter-spacing: 15px;
                                        left: 0.3%;
                                        bottom: 41.9%;
                                        transform: rotate(-1.5deg);

                                    }

                                        .point-profissional{
                                            position: absolute;
                                            font-size: 20px;
                                            letter-spacing: 15px;
                                            right: 50.9%; 
                                            top: 25.7%;
                                            transform: rotate(30.8deg);
                                        }

                                            .point-emocional{
                                                position: absolute;
                                                font-size: 20px;
                                                letter-spacing: 15px;
                                                left: 16.2%;
                                                top: 16.4%;
                                                transform: rotate(61deg);

                                            }

 



               
                    
                
                
                